@use '../../globals.scss' as *;

.projects {
  font-size: 88px;
  margin: 0px 16px;

  &__header--container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }

  &____wrapper {
    display: flex;
  }

  &__image--wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  &__image--desktop {
    max-width: 540px;
    height: auto;
  }

  &__image--mobile {
    max-width: 100%;
    height: auto;
    align-items: center;
  }

  &__info--wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  &__title {
    text-transform: uppercase;
    justify-content: start;
    margin-bottom: 10px;
  }

  &__tech {
    display: flex;
    text-transform: uppercase;
    gap: 10px;
    font-size: 1rem;
  }

  &__projects--links-mobile {
    display: flex;
    gap: 30px;
  }
}

@media (min-width: $bp-tablet) {
  .projects {
    display: flex;
    max-width: 708px;
    flex-wrap: wrap;
    margin: auto;

    &__header--container {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    &__container {
      display: flex;
      flex-wrap: wrap;
    }

    &__content {
      flex: 0 0 50%;

      align-items: center;
    }

    &__image--mobile {
      max-width: 342px;
    }
  }
}

@media (min-width: $bp-desktop) {
  .projects {
    display: flex;
    max-width: 1110px;
    flex-wrap: wrap;
    margin: auto;

    &__header--container {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    &__container {
      display: flex;
      flex-wrap: wrap;
    }

    &__content {
      flex: 0 0 50%;
      align-items: center;
    }

    &__image--mobile {
      max-width: 342px;
    }

    &__img--container {
      position: relative;
    }

    &__projects--links-desktop {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(27, 24, 26, 0.75);
      color: #fff;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.2s, visibility 0.2s;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 30px;
    }

    &__img--container:hover &__projects--links-desktop {
      visibility: visible;
      opacity: 1;
    }
  }
}
