@use '../../globals.scss' as *;

.button {
  width: auto;
  height: 38px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  background: transparent;
  text-transform: uppercase;
  color: var(--color-neutral-white);

  &:hover {
    color: var(--color-primary-green);
  }

  &__title {
    font-family: 'Space Grotesk Bold';
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: var(--color-primary-green);
    font-size: 16px;
  }
}
