@use '../../globals.scss' as *;

.profile {
  position: relative;
  margin-bottom: 80px;

  &__bg-rings {
    position: absolute;
    top: 129px;
    left: -353px;
    z-index: -1;
    max-width: 530px;
    height: 129px;
    mix-blend-mode: normal;
  }

  &__bg-circle {
    box-sizing: border-box;
    position: absolute;
    top: 252px;
    right: -79px;
    z-index: -1;
    max-width: 129px;
    height: 129px;
  }

  &__image--container {
    width: 174px;
    margin: auto;
    display: block;
    margin-bottom: 40px;
  }
  &__statement {
    text-align: center;
    display: grid;
    gap: 1.5rem;
    padding: 0 1rem;

    &--title {
      display: grid;
      gap: 1.5rem;
    }

    &--underline {
      padding-bottom: value;
      border-bottom-style: solid;
      border-bottom-width: 4px;
      border-bottom-color: var(--color-primary-green);
    }
  }

  &__button {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 600px) {
  .profile {
    display: flex;
    justify-content: center;
    max-width: 1110px;
    margin: auto;
    margin-bottom: 60px;

    &__hero {
      order: 2;
    }

    &__bg-rings {
      top: 37px;
      left: -300px;
    }

    &__bg-circle {
      top: 392px;
      right: -60px;
      z-index: 1;
    }

    &__image--container {
      min-width: 322px;
      height: 100%;
      margin: 0;
    }

    &__mobile {
      width: 100%;
      height: auto;
    }

    &__statement {
      order: 1;
      position: relative;
      top: 100px;
      left: 25px;
      text-align: left;
      width: 445px;
      height: 449px;
      padding: 0;

      &--copy {
        width: 440px;
      }
    }

    &__button {
      display: flex;
      justify-content: start;
    }
  }
}

@media (min-width: $bp-desktop) {
  .profile {
    margin-bottom: 104px;
    &__statement {
      top: 214px;
      left: 0px;
      width: 706px;
      height: 303px;
      gap: 5rem;

      &--title {
        gap: 3rem;
      }

      &--copy {
        width: 445px;
      }
    }

    &__image--container {
      width: 445px;
      height: 720px;
    }

    &__bg-rings {
      top: 137px;
      left: -220px;
    }

    &__bg-circle {
      top: 552px;
      right: 379px;
      z-index: 1;
    }
  }
}
