@use '../../globals.scss' as *;

.profile {
  position: relative;

  &__bg-rings {
    position: absolute;
    top: 129px;
    left: -353px;
    z-index: -1;
    max-width: 530px;
    height: 129px;
    mix-blend-mode: normal;
  }

  &__bg-circle {
    box-sizing: border-box;
    position: absolute;
    top: 252px;
    right: -79px;
    z-index: -1;
    max-width: 129px;
    height: 129px;
  }

  &__mobile {
    max-width: 174px;
    margin: auto;
    display: block;
    margin-bottom: 40px;
  }

  &__statement {
    text-align: center;
    display: grid;
    gap: 1.5rem;
    padding: 0 1rem;

    &--title {
      display: grid;
      gap: 1.5rem;
    }

    &--underline {
      padding-bottom: value;
      border-bottom-style: solid;
      border-bottom-width: 4px;
      border-bottom-color: var(--color-primary-green);
    }
  }

  &__button {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 600px) {
  .profile {
    display: flex;
    max-width: 1110px;
    margin: auto;

    &__hero {
      order: 2;
    }

    &__desktop {
      min-width: 322px;
      width: 445px;
      height: auto;
    }

    &__statement {
      order: 1;
      text-align: left;
    }

    &__bg-circle {
      display: none;
    }
    &__button {
      display: flex;
      justify-content: start;
    }
  }
}
