:root {
  --color-primary-green: #4ee1a0;
  --color-neutral-dark-1: #151515;
  --color-neutral-dark-2: #242424;
  --color-neutral-light-1: #d9d9d9;
  --color-neutral-white: #fff;
}

//Breakpoints
$bp-desktop: 1024px;
$bp-tablet: 768px;
$bp-mobile: 375px;

//Fonts
@font-face {
  font-display: swap;
  font-family: 'Space Grotesk';
  src: url('/fonts/static/SpaceGrotesk-Medium.ttf');
}

@font-face {
  font-display: swap;
  font-family: 'Space Grotesk Bold';
  src: url('/fonts/static/SpaceGrotesk-Bold.ttf');
}

//Text
%heading {
  font-family: 'Space Grotesk Bold';
  font-weight: 800;
}

h1,
h2,
h3 {
  @extend %heading;
}

h1 {
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: -1px;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-family: 'Space Grotesk';
  font-weight: 400;
}

button {
  font-family: 'Space Grotesk';
  text-transform: uppercase;
  color: var(--color-neutral-white);
  letter-spacing: 2.29px;
}

hr {
  width: auto;
  margin: 40px 10px 0px 0px;
}

@media (min-width: 600px) {
  h1 {
    font-size: 4.3rem;
  }

  p {
    font-size: 1rem;
  }
}

@media (min-width: $bp-desktop) {
  h1 {
    font-size: 4.8rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}
